*.h linguist-language=Objective-C
*.m linguist-language=Objective-C
*.mm linguist-language=Objective-C
*.cmake linguist-language=Objective-C
*.make linguist-language=Objective-C
*.md linguist-language=Objective-C
*.txt linguist-language=Objective-C
*.cpp linguist-language=Objective-C
*.DS_Store linguist-language=Objective-C
*._XCODE linguist-language=Objective-C
*.SAMPLE linguist-language=Objective-C
*.D linguist-language=Objective-C
*.DIA linguist-language=Objective-C
*.PLIST linguist-language=Objective-C
*.XCSCHEME linguist-language=Objective-C
*.ds_store linguist-language=Objective-C
*._xcode linguist-language=Objective-C
*.sample linguist-language=Objective-C
*.d linguist-language=Objective-C
*.dia linguist-language=Objective-C
*.plist linguist-language=Objective-C
*.xcscheme linguist-language=Objective-C
*.hmap linguist-language=Objective-C
*.png linguist-language=Objective-C
*.jpg linguist-language=Objective-C